*.obj
*.pdb
*.tlog
*.sbr
*.bsc
*.log
*.pdb
*.map
*.lastbuildstate
*.manifest
*.res
*.idb
*.aps
*.opensdf
*.sdf
*.ipch
*.pch
*.suo
*.exp
*.exe
*.dll
*.ilk
*.zip
*.lib
*.unsuccessfulbuild
*.db
*.user
*.filters
tools/protobuf-2.5.0
WebRTC
out
*.sln
*.vcxproj
.gitattributes
*.a
client/Messenger/*.bmp
server/src/buzz/screenshot/*
cef_binary_3.2217.1922_windows32
